/* CSS Document */

#day-mode {
	display: none;
}

body {
	color: black;
	background-color: white;
}

#hangman svg line {
	stroke:black;
}

#guess-input input {
	color: black;
	background-color: white;
	border-color: black;
}

#new-game button {
	background-color: white;
	color: black;
	border-color: black;
}

svg path {
	stroke: black;
}

#canvas_background {
	fill: white;
}
