/* CSS Document */

#night-mode {
	display: none;
}

body {
	color: white;
	background-color: black;
}

#hangman svg line {
	stroke: white;
}

#guess-input input {
	color: white;
	background-color: black;
	border-color: white;
}
