/* CSS Document */

#night-mode {
	display: none;
}

body {
	color: white;
	background-color: black;
}

#hangman svg line {
	stroke: white;
}

#guess-input input {
	color: white;
	background-color: black;
	border-color: white;
}

#new-game button {
	background-color: black;
	color: white;
	border-color: white;
}

svg path {
	stroke: white;
}

#canvas_background {
	fill: black;
}
