/* CSS Document */

@import url('https://fonts.googleapis.com/css?family=Open+Sans');

body {
	font-family: 'Open Sans', sans-serif;
	text-align: center;
	font-size: 72px;
	-webkit-user-select: none;
	-webkit-tap-highlight-color: transparent;
	-webkit-touch-callout: none;
}

#hangman svg line {
	stroke-width:3;
}

select {
	font-size: 72px;
}

#guessed-letters * {
	display: none;
}

#guessed-letters {
	height: 48px;
}

#day-night {
	text-align: left;
}

#day-mode, #night-mode {
	font-size: 24px;
	border-radius: 8px;
	height: 48px;
	width: 48px;
	margin: 0px;
}

#day-mode {
	background-color: white;
	border-color: black;
}

#night-mode {
	background-color: black;
	border-color: white;
}
