/* CSS Document */

@import url('https://fonts.googleapis.com/css?family=Open+Sans');

body {
	font-family: 'Open Sans', sans-serif;
	text-align: center;
	-webkit-user-select: none;
	-webkit-tap-highlight-color: transparent;
	-webkit-touch-callout: none;
	font-size: 32px;
}

/* Sizes */
#guess-input, #guess-input input, #new-game button {
	font-size: 2rem;
}
#win-lose, #day-night button, #word {
	font-size: 1.5rem;
}
#day-night button {
	padding: 0.25rem;
}
#guess-input input {
	width: 1.75rem;
}
#guessed-letters span {
	font-size: 1.25rem;
}
#word span {
	padding-right: 0.2rem;
}
#hangman #svg-container {
	width: 200px;
	height: 200px;
	padding: 0px;
	display: block;
	margin: auto;
}
/***************/

#guess-input input {
	border-left: transparent;
	border-top: transparent;
	border-right: transparent;
	margin: 0px;
	padding: 0px;
}
#guess-input input:focus {
	border-left-color: transparent;
	border-top-color: transparent;
	border-right-color: transparent;
	outline: none;
	box-shadow: none;
}
#win-lose {
	padding: 0px;
	margin: 0px;
	font-style: italic;
}

#guess-input input {
	text-align: center;
}

#guessed-letters {
	height: auto;
}

#day-night, #day-night button {
	text-align: left;
	position: absolute;
	width: auto;
	height: auto;
	margin: 0px;
}
#day-night button {
	border-radius: 0px;
}
#day-mode {
	background-color: white;
	border-color: black;
	border-style: groove;
}

#night-mode {
	background-color: black;
	border-color: white;
	border-style: groove;
}
#left-col {
	width: 30%;
	float: left;
}
#right-col {
	width: 65%;
	float: right;
}


/* ipad portrait */
@media (min-width: 768px) and (max-width: 1024px) {
	#hangman #svg-container {
		width: 75px;
		height: 75px;
	}
	body {
		font-size: 18px;
	}
}
/* ipad landscape */
@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
	#hangman #svg-container {
		width: 60px;
		height: 60px;
	}
	body {
		font-size: 14px;
	}
}
/* phones */
@media only screen 
and (min-device-width : 320px) 
and (max-device-width : 568px) {
	#hangman #svg-container {
		width: 50px;
		height: 50px;
	}
	body {
		font-size: 12px;
	}
}
